<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="unison.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <unison.Properties.Settings>
            <setting name="mpd_host" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="mpd_port" serializeAs="String">
                <value>6600</value>
            </setting>
            <setting name="mpd_password" serializeAs="String">
                <value />
            </setting>
            <setting name="snapcast_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snapcast_window" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snapcast_path" serializeAs="String">
                <value>snapcast_0.31</value>
            </setting>
            <setting name="snapcast_port" serializeAs="String">
                <value>1704</value>
            </setting>
            <setting name="volume_offset" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="nextTrack_mod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="nextTrack_vk" serializeAs="String">
                <value>176</value>
            </setting>
            <setting name="previousTrack_mod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="previousTrack_vk" serializeAs="String">
                <value>177</value>
            </setting>
            <setting name="playPause_mod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="playPause_vk" serializeAs="String">
                <value>179</value>
            </setting>
            <setting name="volumeUp_mod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="volumeUp_vk" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="volumeDown_mod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="volumeDown_vk" serializeAs="String">
                <value>174</value>
            </setting>
            <setting name="volumeMute_mod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="volumeMute_vk" serializeAs="String">
                <value>173</value>
            </setting>
            <setting name="showWindow_mod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="showWindow_vk" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
        </unison.Properties.Settings>
    </userSettings>
</configuration>